

form {
    width: 800px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 200px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom:20px;
}

.imput2 {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #31384A;
    color: #fff;
    padding: 15px;
    width: 100%;
}

#boton:hover {
    cursor: pointer;
}

@media (max-width:480px) {
    form   {
        width:100%;
    }
}