.info {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 73px;
}

.nosotros ul li {
    display: inline-block;
    align-items: center;
    background: #f2f2f2;
    border: solid 1px #ccc;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.nosotros p {
    height: 2.8cm;
    width: 15cm;
    padding: 1.5em;
    text-align: justify;
    border-radius: 20px;
    border: solid 2px #1c3484;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}