body{
    background: url(../img/fondo.jpg);
}

nav {
    background: rgb(250, 200, 120);
}

nav a {
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:bold;
    font-size: 0.5cm;
    text-decoration: none;
}

nav a:hover{
            background-color: #890F0D;
            color:rgb(241, 205, 147);
            border-color:rgb(241, 205, 147);
            border-radius:15px;
}


button{
    background-color: #D91B1B; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 100%;
}
button:hover {background-color: #8C1E06}

button:active {
  background-color: #860E0E;
  box-shadow: 0 5px #000;
  transform: translateY(4px);
}

.contenedor_titulo{
    color: #fff;
}

.contenedor {
    background: #390D02;
    border-radius: 20px;
    color: black;
    border-style: solid;
    border-width: 7px;
    border-color: #A52502;
    margin-top: 100px;
    width: 90%;
    height: 90%;
margin-bottom: 100px;
}
