body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg);
    font-family: sans-serif;
    box-sizing: border-box;
}


.form-register {
    width: 400px;
    background: rgb(71, 45, 45);
    padding: 10px 40px 30px 25px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
    border-style: solid;
    border-width: 7px;
    border-color: #8C1E06;
}

.form-register h4 {
    font-size: 20px;
    margin-bottom: 20px;
    background: rgb(71, 45, 45);
}

.controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    font-size: 15px;
    color: black;
}


.form-register a {
    color: white;
    text-decoration: none;
    background: rgb(71, 45, 45);
    font-size: 15px;
    color: darkgrey;
}

.form-register a:hover {
    color: white;
}


button{
    background-color: #D91B1B; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 100%;
}
button:hover {background-color: #8C1E06}

button:active {
  background-color: #860E0E;
  box-shadow: 0 5px #000;
  transform: translateY(4px);
}

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 10px 20px 20px 10px;

  }

  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #D91B1B;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.alert-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}