<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nosotros.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/contactos.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<div th:include="/template_notusuario.html::header_notuser" th:if="${rolsesion==null}"></div>
<div th:include="/template_usuario.html::header_user" sec:authorize="hasRole('USER')"></div>
<div th:include="/template_admin.html::header" sec:authorize="hasRole('ADMIN')"></div>
<body>
<div class="container">
    <div>

        <form th:action="@{/contacto}" method="post" enctype="multipart/form-data">
            <h2>CONTACTO</h2>
            <input class="imput2" type="text" name="fullname" placeholder="Nombre Completo">
            <input class="imput2" type="email" name="email" placeholder="E-mail">
            <input class="imput2" type="text" name="subject" placeholder="Asunto">
            <textarea class="imput2" name="content" placeholder="Escriba aqui su mensaje"></textarea>
            <input type="file" style="font-size: 14px;" id="input_10" name="attachment" multiple=""
                   class="form-upload-multiple" data-imagevalidate="yes"
                   data-file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif"
                   data-file-maxsize="10854" data-file-minsize="0" data-file-limit="" data-component="fileupload" />
            <input type="submit" value="Send" id="boton">

        </form>
    </div>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>