<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pago.css}">

</head>
<body>

<div class="container">

    <form th:action="@{/pagartarjeta}" method="post">

        <div class="row">

            <div class="col">

                <h3 class="title">Dirección de la Facturación</h3>

                <div class="inputBox">
                    <span>Gmail :</span>
                    <input type="email" name="correo" placeholder="example@example.com">
                </div>
                <div class="inputBox">
                    <span>Dirección :</span>
                    <input type="text" name="direccion" placeholder="calle -  localidad">
                </div>
                <div class="inputBox">
                    <span>Ciudad :</span>
                    <input type="text" name="ciudad" placeholder="ica">
                </div>
            </div>

            <div class="col">

                <h3 class="title">Tarjeta</h3>

                <div class="inputBox">
                    <span>tarjetas aceptadas :</span>
                    <img src="img/card_img.png" alt="">
                </div>
                <div class="inputBox">
                    <span>titular de la tarjeta :</span>
                    <input type="text"name="titular" placeholder="mr. john deo">
                </div>
                <div class="inputBox">
                    <span>numero de tarjeta :</span>
                    <input type="number" name="nro_tarjeta" placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <span>mes de expiración :</span>
                    <input type="text" name="mes_exp" placeholder="january">
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>Año de expiración:</span>
                        <input type="number" name="año_exp" placeholder="2022">
                    </div>
                    <div class="inputBox">
                        <span>CVV :</span>
                        <input type="text" name="cvv" placeholder="123">
                    </div>
                </div>

            </div>
    
        </div>

        <button type="submit" value="Procesar el pago" class="submit-btn">Procesar el pago</button>

    </form>

</div>    
    
</body>
</html>