<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registroUsu.css}">
    <title>Formulario Registro</title>
</head>
<body>
    <form th:action="@{/usuario/guardar}" method="post">
        <section class="form-register">
            <h4>Formulario Registro</h4>
            <input class="controls" type="text" name="nombre" id="Nombre" placeholder="Ingrese su nombre" required>
            <input class="controls" type="text" name="apellido" id="Apellido" placeholder="Ingrese su apellido" required>
            <input class="controls" type="number" name="dni" id="Dni" placeholder="Ingrese su DNI" maxlength="8" pattern="[0-9]{8}" title="Debe ser un número de 8 dígitos" required>
            <input class="controls" type="text" name="telefono" id="Telefono" placeholder="Ingrese su Telefono">
            <!--<input class="controls" type="text" name="rol" id="rol" placeholder="Ingrese su rol">-->
            <input class="controls" type="email" name="correo" id="Correo" placeholder="Ingrese su Correo" required>
            <input class="controls" type="password" name="password" id="Password" placeholder="Ingrese su Contraseña"required>
            <input class="controls" type="password" name="pass" id="RepetirPassword" placeholder="Repetir Contraseña"required>
            <label class="container">Estoy de acuerdo con los Términos y Condiciones
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
            <div th:if="${error}" class="error-message">
                <p th:text="${error}" class="alert alert-danger"></p>
            </div>
            <a th:href="@{/}">Ya estas registrado? Inicia sesión</a>

            <button class="botons">Registrar</button>
        </section>
    </form>
</body>
</html>