<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<header>
    <div class="contenedor estilo-navegador">
        <img th:src="@{/img/logo-removebg-preview.png}" alt="">
        <nav class="navegacion">
            <ul>
                <li><a th:href="@{/inicio}">Inicio<br><img th:src="@{/img/inicio.png}"alt=""></a></li>
                <li><a th:href="@{/listaproductos}">Productos <br> <img th:src="@{/img/cup.png}" alt=""></a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
	<div id="main-container">

		<table id="usuarios">
            <thead>
				<tr>
					<th>ID</th>
                    <th>Rol</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Correo</th>
                    <th>Telefono</th>
				</tr>
			</thead>
            <tbody>
                <tr th:each="usuario : ${listaUsuarios}">
                    <td th:text="${usuario.idusuario}"></td>
                    <td th:text="${usuario.privilegio}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.apellido}"></td>
                    <td th:text="${usuario.dni}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td th:text="${usuario.telefono}"></td>
                </tr>
            </tbody>
            
		</table>
    </div>
</body>
</html>