<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/productos.css">
    <link rel="stylesheet" href="css/dulces.css">
    <link rel="stylesheet" href="css/boton.css">
</head>
<body>
<div th:fragment="header">
    <header>
        <div class="contenedor estilo-navegador">
            <img src="img/logo-removebg-preview.png" alt="" onclick="bienvenido()">
            <nav class="navegacion">
                <ul>
                    <li><a th:href="@{/inicio}">Inicio <br> <img th:src="@{/img/inicio.png}" alt=""></a></li>
                    <li><a th:href="@{/nosotros}">Nosotros <br> <img src="img/nosotros.png" alt=""></a></li>
                    <li><a th:href="@{/categorias}">Productos <br> <img src="img/cup.png" alt=""></a></li>
                    <li><a th:href="@{/contacto}">Contacto <br> <img src="img/atencion-al-cliente.png" alt=""></a></li>
                    <li><a><img th:src="@{/img/admin.png}" alt=""><h4 class="user" th:text="${usuario.cliente.nombre}"></h4></a>
                        <ul class="desl">
                            <li><a class="desl_1" th:href="@{/admin}">Administrar</a></li>
                            <li sec:authorize="isAuthenticated()"><a class="desl_2" th:if="${usuario != null}" th:href="@{'/usuario/editar'+'/'+${usuario.idusuario}}">Perfil</a></li>
                            <li sec:authorize="isAuthenticated()"><a class="desl_3" th:href="@{/logout}">Cerrar sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>

</body>
</html>